*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #005883;
}

#contenedor{
    width: 1200px;
    margin: auto;
    height: auto;
    position: relative;
}
#contenedor h1{
    width: 1200px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    overflow:hidden;
}
header{
    background: #ffffff;
    width: 1200px;
    height: 100%;
    border: 1px solid #000;
}
header img{
    width: 1200px;
}
/*---------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------*/
/*barra de navegracion*/
.navegacion{
	width: 1200px;
	margin: auto;
    background: #f0b429;
    text-align: center;
}

.navegacion ul{
    list-style: none;
    
}

.menu > li {
	position: relative;
	display: inline-block;
}
.menu > li > a {
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
    transition: all .3s;
}
/*-----------------------------------------------------*/
/* Submenu*/
.submenu {
	position: absolute;
	background: #f0b429;
    width: 110%;
    padding: 10px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a  {
    display: inline-block;
    padding: 0px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
    opacity: 1;
    display: inline-block;
}

/*-------------------------------------------------------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------*/

/*texto*/

section {
    width: 33%;
    float: left;
    text-align: center;
    height: auto;
    fi
}


/*---------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
*/

h1{
    margin-top: 35px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 60px;
    text-align: right;
    margin-right: 145px;
    color: #000;
    margin-bottom: 0px;
}

h2{
    
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    color: white;
    margin-top: 15px;
    margin: auto;
}
h3{
    margin-top: 15px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 30px;
    text-align: center;
    color:#fff;
    padding: 10px;
}
h6{
    
    margin-top: 0px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-bottom: 5px;
    font-family: 'Libre Franklin', sans-serif;
}
.viñeta{
    color: #fff;
    font-size: 20px;
    text-align: justify;
    margin-left: 10px;
}
p{
    font-size: 20px;
    text-align: justify;
    margin-left: 10px;
    color: #fff;
}

h4{
    font-size: 10px;
    text-align: center;
    margin-left: 10px;
    color: #fff;
}

#autor p{
    margin-top: 0px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-bottom: 5px;
    font-family: 'Libre Franklin', sans-serif;
}
#autor img{
    width: 250px;
    height: auto;
    display: block;
    margin: auto;
    padding: 30px;
}

footer{
    background: #f0b429;
    clear: both;
    width: 1200px;
    height: 90px;
    padding: 10px;
    top: 710px;
}